/**********************TAG SELECTORS********************/

h1 {
    color: red;
    font-size: 200px;
}

p {
    accent-color: black;
}

img:hover {
    background-color: gold;
}

/**********************CLASS SELECTORS********************/

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

.sameHeight {
    height: 200px;
}

/**********************ID SELECTORS********************/

#heading {
    color: blue;
}
